h1 {
  color: #622FBD;
  font-family: "Lucida Sans";
  font-size: 3em;
  text-shadow: 0 0 10px #fff, 0 0 3em #fff, 0 0 3em #fff; }

h2 {
  color: #622FBD;
  font-family: "Lucida Sans";
  font-size: 2em; }

ul {
  list-style: none;
  font-size: 0.5em; }
  ul li {
    display: inline-block;
    position: relative;
    padding-right: 1em;
    font-size: 2em;
    color: #622FBD;
    width: 10em; }
    ul li:hover {
      color: #622FBD;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff; }

a {
  text-decoration: none; }

body {
  background-color: #8ddc8e;
  font-family: Verdana, sans-serif;
  font-style: normal; }

p {
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 1em;
  display: flex;
  justify-content: center; }

img {
  border-radius: 10%; }

/*Clases*/
.contenedor {
  background-color: #5ab65c;
  color: #622FBD;
  font-style: normal;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0.05em solid #fff;
  border-radius: 1em; }

.itemNombre {
  color: #622FBD;
  font-size: 1em; }

.tarjeta {
  background-size: cover;
  border-radius: 25px;
  padding-left: 3em;
  padding-right: 3em;
  width: 20em;
  height: 10em; }

.tarjetaHover:hover, .tarjetaEscolar:hover, .tarjetaArtistica:hover, .tarjetaComercial:hover, .tarjetaFotocopia:hover, .tarjetaImpresion:hover {
  opacity: 0.7;
  transform: scale(1.1, 1.1); }

.tarjetaEscolar {
  background-image: url(../multimedia/Imagenes/escolar.webp); }

.tarjetaArtistica {
  background-image: url(../../../multimedia/Imagenes/artistica.webp); }

.tarjetaComercial {
  background-image: url(../../multimedia/Imagenes/comercial.webp); }

.tarjetaFotocopia {
  background-image: url(../../multimedia/Imagenes/fotocopia1.webp); }

.tarjetaImpresion {
  background-image: url(../../multimedia/Imagenes/Impresiones1.webp); }

.card-title {
  display: flex;
  justify-content: center;
  font-size: large; }

.textoResaltado {
  margin-left: 3em;
  color: #622FBD;
  background-color: #fff;
  font-size: 1.3em;
  border-radius: 10%; }

.logoTrebol {
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 2em; }

.multimedia {
  width: 5%; }

.btn-color {
  background-color: #622FBD;
  color: #fff; }
  .btn-color:hover {
    color: #622FBD;
    background-color: #9a75dd;
    font-weight: bold; }

/*Clases para el detalle de los productos a mostrar*/
.gridProducto {
  padding: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 0.05em solid #fff;
  border-radius: 25px;
  width: 18rem; }

.imgProducto {
  width: 100%; }

/*clases para maps responsive*/
.map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/* Animaciones/transformaciones */
.dondeEstamos {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  display: flex;
  align-items: center; }

.mostrarLento {
  animation-name: efecto_aparecer;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

@keyframes efecto_aparecer {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

/*Breakpoints*/
@media (max-width: 768px) {
  #productos {
    display: none; }
  #servicios {
    display: none; }
  #quienesSomos {
    display: none; } }
