@import "_variables";
/*Clases*/
.contenedor{ 
    background-color:$colorBackContenedor;
    color: $color;
    font-style:  $fontStyleDetalle;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: $borderContenedor;
    border-radius: 1em;
    }
.itemNombre {
    color:$color;
    font-size:1em;
}
.tarjeta {
    background-size: cover;
    border-radius: 25px;
    padding-left: 3em;
    padding-right: 3em;
    width: 20em;
    height: 10em;
}
.tarjetaEscolar {
    background-image: url(../multimedia/Imagenes/escolar.webp);
    &:hover {
        opacity: 0.7 ; 
        transform: scale(1.1,1.1);
    }
}
.tarjetaArtistica {
    background-image: url(../../../multimedia/Imagenes/artistica.webp);
    &:hover {
        opacity: 0.7 ; 
        transform: scale(1.1,1.1);
    }
}
.tarjetaComercial {
background-image: url(../../multimedia/Imagenes/comercial.webp);
    &:hover {
        opacity: 0.7 ; 
        transform: scale(1.1,1.1);
    } 
}
.tarjetaFotocopia {
    background-image: url(../../multimedia/Imagenes/Fotocopia1.webp);
    &:hover {
        opacity: 0.7 ; 
        transform: scale(1.1,1.1);
    }
}
.tarjetaImpresion {
    background-image: url(../../multimedia/Imagenes/Impresiones1.webp);
    &:hover {
        opacity: 0.7 ; 
        transform: scale(1.1,1.1);
    }
}
.textoResaltado {
    margin-left:3em;
    color:$color;
    background-color: $colorShadow;
    font-size: 1.3em;
    border-radius: 10%;
}
.logoTrebol {
    width:100%;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
}

.multimedia {
    width:3%;
}

.btn-color {
    background-color: $colorBoton;
    color:$colorShadow;
    &:hover {
        color: $color;
        background-color:lighten($color,20%);
        font-weight: bold;
    }
}

/*Clases para el detalle de los productos a mostrar*/
.gridProducto {
    padding: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: $borderContenedor;
    border-radius: 25px;
    width: 18rem;
}
.imgProducto {
    width:100%;
}
/*clases para maps responsive*/

.map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Animaciones/transformaciones */
.dondeEstamos{
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display:flex;
    align-items: center;
}
.mostrarLento {
    animation-name: efecto_aparecer;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    animation-duration: 3s;
}
@keyframes efecto_aparecer {
    0%{ opacity: 0; }
    10%{ opacity:0.1; }
    20%{ opacity:0.2; }
    30%{ opacity:0.3; }
    40%{ opacity:0.4; }
    50%{ opacity:0.5; }
    60%{ opacity:0.6; }
    70%{ opacity:0.7; }
    80%{ opacity:0.8; }
    90%{ opacity:0.9; }
    100%{ opacity: 1; }
 }

 /*Breakpoints*/
 @media (max-width: 768px) { 
     #productos{display: none;}
     #servicios{display: none;}
     #quienesSomos{display: none;}
  }
