@import "_variables";

@mixin titulo_h {
    color: $color;
    font-family: $fontFamilyTitulo;
  }

h1 {
    @include titulo_h;
    font-size:3em; 
    
    text-shadow: 0 0 10px $colorShadow,
    0 0 3em $colorShadow,
    0 0 3em  $colorShadow;
} 
h2 {
    @include titulo_h;
    font-size:2em;
}
 
ul {
    list-style: none;
    font-size:0.5em; 
    li {
        display:inline-block;    
        position:relative;
     
        padding-right:  1em;
        font-size: 2em;
        color:$color;
        width: 10em;
        &:hover {
            color:$color;
            text-shadow: 0 0 10px $colorShadow,
            0 0 20px $colorShadow,
            0 0 40px $colorShadow;
            }
    }
} 
a  {
    text-decoration: none;
}

body{   
    background-color: $colorBackGral;
    font-family: $fontFamilyDetalle;
    font-style: $fontStyleDetalle;
}
p {
    font-family: $fontFamilyDetalle;
    font-style: italic;
    font-size:  1em;
    display: flex ;
    justify-content: center;
}

img {
    border-radius: 10%;
}