$colorBackGral:#8ddc8e;
$colorBackContenedor:#5ab65c;
$color:#622FBD;
$colorBoton:#622FBD;
$colorShadow:#fff;
$fontFamilyTitulo:'Lucida Sans';
$fontStyleTitulo:italic;
$fontFamilyDetalle:Verdana, sans-serif;
$fontStyleDetalle:normal;
$borderContenedor: 0.05em solid $colorShadow;